<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title data-layout-title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">Plugin Health Scoring</title>

    <link data-th-href="@{/style/index.css}" rel="stylesheet"/>

    <script src="http://localhost:35729/livereload.js"
            data-th-if="${#arrays.contains(@environment.getActiveProfiles(), 'dev')}"></script>
</head>
<body>

<div id="app">
    <header>
        <span class="app--title">Plugin Health Scoring</span>
    </header>
    <main data-layout-fragment="content">
    </main>
</div>

</body>
</html>
