<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title data-layout-title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">Plugin Health Scoring</title>

    <link rel="icon" data-th-href="@{/images/logo.svg}" type="image/svg+xml">
    <link data-th-href="@{/style.css}" rel="stylesheet"/>

    <script src="http://localhost:35729/livereload.js"
            data-th-if="${#arrays.contains(@environment.getActiveProfiles(), 'dev')}"></script>
</head>
<body>

<div id="app">
    <header>
        <nav class="navbar">
            <img class="navbar-logo" data-th-src="@{/images/logo.svg}"/>
            <a class="navbar-brand" data-th-href="@{/}" data-th-text="${@buildProperties.name}"></a>
        </nav>
    </header>
    <main>
        <section data-layout-fragment="content"></section>
    </main>
    <footer>
        <span data-th-if="${#arrays.contains(@environment.getActiveProfiles(), 'dev')}"
              class="app--version"
              data-th-text="${@buildProperties.version} + ' - ' + ${@gitProperties.shortCommitId}"></span>
    </footer>
</div>

</body>
</html>
