<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title data-layout-title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">Plugin Health Scoring</title>

    <link rel="icon" data-th-href="@{/svg/logo.svg}" type="image/svg+xml">
    <link href="" data-th-href="@{/style.css}" rel="stylesheet"/>
    <script src="" data-th-src="@{/js/index.js}" type="text/javascript"></script>
    <script src="" data-th-src="@{/js/vendors.js}" async type="text/javascript"></script>

    <script src="http://localhost:35729/livereload.js"
            data-th-if="${#arrays.contains(@environment.getActiveProfiles(), 'dev')}"></script>
</head>
<body id="app">

<nav id="page-navbar" class="navbar">
    <a href="" data-th-href="@{/probes}" class="page-navbar__item"
       data-th-classappend="${#request.requestURI.equals('/probes') ? 'page-navbar__item-selected' : ''}">
        <ion-icon name="home"></ion-icon>
    </a>
    <a href="" data-th-href="@{/probes/results}" class="page-navbar__item"
       data-th-classappend="${#request.requestURI.equals('/probes/results') ? 'page-navbar__item-selected' : ''}">
        <ion-icon name="results"></ion-icon>
    </a>
    <a href="" data-th-href="@{/scores}" class="page-navbar__item"
       data-th-classappend="${#request.requestURI.equals('/scores') ? 'page-navbar__item-selected' : ''}">
        <ion-icon name="pulse"></ion-icon>
    </a>
</nav>
<main id="page-content">
    <section data-layout-fragment="content"></section>
</main>
<footer class="page-footer">
    <span class="grow"></span>
    <span class="app--version"
          data-th-text="${@buildProperties.version} + ' (' + ${@gitProperties.shortCommitId} + ')'"></span>
</footer>

</body>
</html>
