pom.xml
src
!src/main/docker/Dockerfile
target
!target/plugin-health-scoring.jar
!target/application
!target/dependencies
!target/snapshot-dependencies
!target/spring-boot-loader

.idea
.mvn
mvnw
mvnw.cmd
