root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 2

[pom.xml]
indent_style = tab
indent_size = 2

[{*.yml,*.yaml,*.json,Jenkinsfile,*.js,*.less}]
indent_size = 2
