HELP.md
### Maven
target
.mvn
!.mvn/wrapper/maven-wrapper.properties

### Application
.env
*.der
*.pem

### Node
node/
node_modules/

### Yarn
.pnp.*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

### IDE
*.iml
*.idea

### fetch-report.sh
etags.txt
scores.json
