services:
  app:
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - db_data:/var/lib/postgresql/data

  db:
    image: postgres:14.1-alpine
    restart: always
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "pg_isready", "-p", "5432", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 5s
      timeout: 2s
      retries: 5
    ports:
      - "${POSTGRES_PORT}:5432"

volumes:
  db_data:
