<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/main}">
<head>
    <title>Data</title>
</head>
<body>

<section data-layout-fragment="content">
    <h1>Data</h1>
    <div>
        <table class="table" id="plugins">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Scorings</th>
                <th>Computation timestamp</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="score : ${scores}" data-th-with="plugin = ${score.plugin}">
                <td data-th-text="${plugin.name}"></td>
                <td data-th-text="${score.value}">
                <td>
                    <code data-th-each="scoring: ${score.getDetails()}"
                          class="label" data-th-classappend="|score--${scoring.value() == 100 ? 'success':'failure'}|">
                        <span data-th-text="${scoring.key()}"></span>
                        <ion-icon name="failure" data-th-if="${scoring.value() != 100}"></ion-icon>
                        <ion-icon name="success" data-th-if="${scoring.value() == 100}"></ion-icon>
                    </code>
                </td>
                <td data-th-text="${{score.computedAt}}"></td>
                <td>
                    <a data-th-href="|/scores/${plugin.name}|" target="_blank">details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script data-th-src="@{/js/table.js}" type="application/javascript"></script>
    <link data-th-href="@{/js/table.css}" rel="stylesheet"/>
    <script defer type="application/javascript">
        module['js/table'].setupDataTable('#plugins', {
            perPageSelect: [25, 50],
        });
    </script>
</section>

</body>
</html>
