:root {
    /* Colors */
    --primary: #0b6aa2;
    --primary-hover: #0587d4;
    --footer-bg-color: var(--very-light-grey);

    --text-color: var(--black);
    --footer-text-color: var(--medium-grey);

    --link-dark-color: var(--black);
    --task-link-bg-color--hover: var(--very-light-grey);
    --task-link-bg-color--active: var(--light-grey);

    --white: #fff;
    --very-light-grey: #f8f8f8;
    --light-grey: #eaeff2;
    --medium-grey: #9ba7af;
    --dark-grey: #4d545d;
    --black: #333;

    /* Dimensions */
    --header-height: 3rem;
    --footer-height: var(--header-height);

    --font-size-sm: 0.875rem;
}
