spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driverClassName: org.postgresql.Driver
  jackson:
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat
  jpa:
    hibernate:
      ddl-auto: update
    properties.hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      jdbc.lob.non_contextual_creation: true
    open-in-view: false

management:
  endpoint:
    health:
      db.enabled: true
      defaults.enabled: false
      gitHub.enabled: true

app:
  jenkins:
    update-center: https://updates.jenkins.io/current/update-center.actual.json
    documentation-urls: https://updates.jenkins.io/current/plugin-documentation-urls.json
  github:
    app-id: ${GITHUB_APP_ID}
    private-key-path: ${GITHUB_APP_PRIVATE_KEY_PATH}
    app-installation-name: ${GITHUB_APP_INSTALLATION_NAME}
  cron:
    update-center: ${UPDATE_CENTER_CRON}
    probe-engine: ${PROBE_ENGINE_CRON}

---

spring.config.activate.on-profile: dev
logging.level:
  io.jenkins.pluginhealth: DEBUG

management:
  endpoint:
    health:
      show-components: always
      show-details: always
