<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/main}">
<head>
    <title>Score</title>
</head>
<body>

<section data-layout-fragment="content">
    <h1 data-th-text="'Score of ' + ${score.plugin.name} + ' plugin'"></h1>
    <div class="card score" data-th-text="${score.value}"></div>

    <h3>Details</h3>
    <p>
        Those details were computed at <span data-th-text="${#temporals.format(score.computedAt)}"></span>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Coefficient</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="detail: ${details}">
            <td><code data-th-text="${detail.key}"></code></td>
            <td align="center" data-th-text="${detail.value}"></td>
            <td align="center" data-th-text="${detail.coefficient}"></td>
            <td data-th-text="${detail.description}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Probes results</h3>
    <div data-th-if="${#maps.size(score.plugin.details)} > 0">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Message</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="detail: ${score.plugin.details}" data-th-with="probe = ${detail.value}">
                <td><code data-th-text="${probe.id}"></code></td>
                <td>
                    <ion-icon data-th-if="${probe.status.name()} == 'SUCCESS'" class="success" name="checkmark-circle"></ion-icon>
                    <ion-icon data-th-if="${probe.status.name()} == 'FAILURE'" class="failure" name="close"></ion-icon>
                </td>
                <td data-th-text="${probe.message}"></td>
                <td data-th-text="${#temporals.format(probe.timestamp)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p data-th-unless="${#maps.size(score.plugin.details) > 0}">
        No probe were executed on the plugin yet.
    </p>
</section>

</body>
</html>
