<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/main}">
<head>
    <title>Score</title>
</head>
<body>

<section data-layout-fragment="content">
    <h1 data-th-utext="'Score of <em>' + ${score.plugin.name} + '</em> plugin'"></h1>
    <div class="card score" data-th-text="${score.value}"></div>

    <h3>Details</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Key</th>
            <th>Value</th>
            <th>Coefficient</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <th-block data-th-each="detail: ${details}">
            <tr class="collapse" data-th-data-target="'collapse-' + ${detail.key}">
                <td><ion-icon name="chevron-expand"></ion-icon></td>
                <td><code data-th-text="${detail.key}"></code></td>
                <td align="center" data-th-text="${detail.value}"></td>
                <td align="center" data-th-text="${detail.coefficient}"></td>
                <td data-th-text="${detail.description}"></td>
            </tr>
            <tr class="collapse-content" data-th-id="'collapse-' + ${detail.key}">
                <td colspan="5">
                    <h3>Details:</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Probe key</th>
                            <th>Maximum value</th>
                            <th>Status</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="component : ${detail.components}"
                            data-th-with="key=${component.key},maxScore = ${component.value},result = ${score.plugin.details.get(component.key)}">
                            <td>
                                <code data-th-text="${key}"></code>
                            </td>
                            <td data-th-text="${maxScore}"></td>
                            <td>
                                <ion-icon data-th-if="${result} != null and ${result.status.name()} == 'SUCCESS'" class="success" name="checkmark-circle"></ion-icon>
                                <ion-icon data-th-if="${result} == null or ${result.status.name()} == 'FAILURE'" class="failure" name="close"></ion-icon>
                            </td>
                            <td>
                                <span data-th-if="${result} != null" data-th-text="${result.message}"></span>
                                <span data-th-unless="${result} != null">Not executed</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </th-block>
        </tbody>
    </table>

    <h3>Probes results</h3>
    <div data-th-if="${#maps.size(score.plugin.details)} > 0">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Message</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="detail: ${score.plugin.details}" data-th-with="probe = ${detail.value}">
                <td><code data-th-text="${probe.id}"></code></td>
                <td>
                    <ion-icon data-th-if="${probe.status.name()} == 'SUCCESS'" class="success" name="checkmark-circle"></ion-icon>
                    <ion-icon data-th-if="${probe.status.name()} == 'FAILURE'" class="failure" name="close"></ion-icon>
                </td>
                <td data-th-text="${probe.message}"></td>
                <td data-th-text="${#temporals.format(probe.timestamp)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p data-th-unless="${#maps.size(score.plugin.details) > 0}">
        No probe were executed on the plugin yet.
    </p>
</section>

</body>
</html>
