<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/main}">
<head>
    <title>Score listing</title>
</head>
<body>

<section data-layout-fragment="content">
    <h1>Scores</h1>
    <p>This is the list of elements participating to the global score of a plugin.</p>
    <table class="table" id="scorings">
        <thead>
        <tr>
            <th>Key</th>
            <th>Weight</th>
            <th>What is validated</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="scoring: ${scorings}">
            <td><code class="label" data-th-text="${scoring.key}"></code></td>
            <td align="center" data-th-text="${scoring.weight}"></td>
            <td>
                <ul>
                    <li data-th-each="component: ${scoring.components}"
                        data-th-text="${component.getDescription()}"></li>
                </ul>
            </td>
            <td data-th-text="${scoring.description}"></td>
        </tr>
        </tbody>
    </table>

    <script data-th-src="@{/js/table.js}" type="application/javascript"></script>
    <link data-th-href="@{/js/table.css}" rel="stylesheet"/>
    <script defer type="application/javascript">
        module['js/table'].setupDataTable('#scorings', {
            paging: false,
            info: false,
            ordering: false,
        });
    </script>
</section>

</body>
</html>
